/* Necassario pro reinicio */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

h1 {
    font-family: 'Nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #2e2e2e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-menu {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    color: black;
}

/* Titulo */
h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.subtitle {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 40px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

/* Botões */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.btn {
    background-color: #f1c40f;
    color: #2e2e2e;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    width: 250px;
    transition: transform 0.2s, background-color 0.2s;
}

.btn:hover {
    background-color: #d4ac0d;
    transform: scale(1.05);
}

/* Carrosel */
.carousel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 2s ease-in-out;
}

.slide.active {
    opacity: 1; /* Apenas a imagem na animação vai aparecer */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Verificar porque a animação buga quando é alterado*/
    z-index: -1;
}

.container-menu {
    position: relative;
    z-index: 10;
}